<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}" />
    <link rel="stylesheet" type='text/css' href='https://fonts.googleapis.com/css?family=Inconsolata:400,700'>
    <link rel="stylesheet" type='text/css' href="{{asset "css/prism.css"}}"/>

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body>

    <div class="wrapper">
      {{{ body }}}
    </div>
    <canvas class="c1"></canvas>
    <div class="reflection-wrapper">
      <canvas class="c2"></canvas>
    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    <script type="text/javascript" src="{{asset "js/pixelrain.js"}}"></script>

</body>
</html>
